@model IEnumerable<BoxingChampionship.ViewModels.ChampionshipRankViewModel>

@{
    ViewBag.Title = "Boxing Championship";
}

<div class="jumbotron">
    <h1>Boxing Championship Homepage</h1>
    <p class="lead">This web site is developed to manage boxing championships</p>
</div>

<h4>Current rank</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRanking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfBattles)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentRanking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfBattles)
            </td>
        </tr>
    }
</table>

